[tool.black]
line-length = 100

[tool.isort]
profile = "black"

[tool.poetry]
name = "botch"
version = "0.1.0"
description = ""
authors = ["tiltowait <208040+tiltowait@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
beanie = "^1.20.0"
python-dotenv = "^1.0.0"
aiohttp = "^3.8.5"
pyparsing = "^3.1.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
mongomock-motor = "^0.0.20"
pytest-cov = "^4.1.0"
requests = "^2.31.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
