version: 2.1

orbs:
  python: circleci/python@2.1.1
  codecov: codecov/codecov@3.2.4

jobs:
  run-test-battery:
    executor:
      name: python/default
      tag: 3.11.4
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
      - run:
          name: Run Tests
          command: |
            poetry run pytest --cov
            poetry run coverate html
      - store_artifacts:
          path: htmlcov
      - codecov/upload

workflows:
  tests:
    jobs:
      - run-test-battery
